<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="navbar-general">
   <%= link_to root_path, class: 'navbar-brand titlenavbar' do %>
     <h3>yeah them | </h3>
  <% end %>
  <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="bug-in-navbar" >
    
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 form-navbar">
      <i class="fa fa-search" aria-hidden="true" style="display: inline;color: black; cursor: pointer;"></i>
      <input class="search-navbar w-75" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="navbar-nav" id="navbar-items-general">
      <li class="nav-item " id="nav-item-general" >
        <% if user_signed_in? %>
          <% if not current_user.company.nil? || current_user.company.id.nil? %>
            <%= link_to your_solutions_company_path(:id => current_user.company.id), class: 'nav-link', id: 'nav-link' do %> 
                <i class="material-icons bye">settings</i>
                <p class="txt-links txlink" >Tus Soluciones</p>
            <% end %>
            <% else %> <!-- Para que registre una empresa -->
              <%= link_to new_company_path, class: 'nav-link', id: 'nav-link' do %> 
                  <i class="material-icons bye">settings</i>
                  <p class="txt-links txlink">Tus Soluciones</p>
              <% end %>
          <% end %>
        <%else%>
          <%= link_to new_user_registration_path, class: 'nav-link', id: 'nav-link' do %> 
              <i class="material-icons bye">supervisor_account</i>
              <p class="txt-links txlink" >Registrar</p>
          <% end %>
        <%end%>
      </li>
      <li class="nav-item" id="nav-item-general">
        <%= link_to new_contact_path, class:"nav-link", id:"nav-link" do %>
          <i class="material-icons bye">
            error_outline
          </i>
          <p class="txt-links txlink" >Ayuda</p>
        <% end %>
      </a>
      </li>
      <li class="nav-item" id="nav-item-general">
       <% if user_signed_in? %>
        <%= link_to destroy_user_session_path,  method: :delete, class: 'nav-link', id: 'nav-link' do %> 
          <i class="material-icons bye">exit_to_app</i>
          <p class="txt-links txlink" >Signoff</p> 
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: 'nav-link', id: 'nav-link' do %> 
          <i class="material-icons bye">exit_to_app</i>
          <p class="txt-links txlink">Login</p>   
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</nav>
