<%= render 'partials/new_navbar', {home_state: "", team_state: "link-homepage-active"} %>
<main class="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="min-height: 800px;">
        <div class="carousel-inner" style="min-height: 799px">
            <div class="carousel-item active" style="min-height: 798px;">
            <%= image_tag  "jobs-bg.png", class: 'h-100' %>
                <div class="container">
                    <div id="carousel-caption" class="text-center">
                        <div class="bottom-space">
                            <h4 class="text-left left-space top-space col-sm-5 col-md-4 col-lg-3 style-font unit-us">ÚNETE AL EQUIPO</h4>
                            <div class='text-left' style='float: left; margin-left: 4.3em;'>
                                <button id="button-interest" style="padding: 12px 40px; margin-top: 0.8em; border-radius: 0;" class="btn btn-lg btn-j-blue text-left shadow-style btn-interesting">
                                    ME INTERESA
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End of Carousel -->

    <div class="job-introduction">
		<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-6 col-lg-5 col-offset-5">
                    <div class="separator"></div>
                    <h2 class="several-titles">
                        <div>
                            EN YEAH THEM 
                            <br>
                            ESTAMOS REDISEÑANDO EL MARKETING
                        </div>
                    </h2> 
                    <div class="narrative">
                        <p class="line-space text-interesting">Somos 
                        una plataforma que está revolucionando una de las 
                        herramientas de marketing más potentes de la historia. 
                        Según dicen se necesitan 3 cosas

                        para empezar una start-up de exito:</p>
                        <p class="line-space text-interesting">
                            1. Trabajar con buena gente <br>
                            2. Construir algo que realemente se necesite <br>
                            3. Gastar el menor dinero posible
                        </p>
                        <p class="text-interesting">
                            Ya tenemos la segunda, ahora vamos a por la primera
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid">
            <div class="row justify-content-center top-space">
                <div class="col-sm-8 col-md-6 col-lg-5 col-offset-5">
                    <p class="text-left">
                        <%= image_tag  "alvaro2.png", style:"width: 15%; heigth: 15%;" %>
                        <span class="left-space">
                            <a class="text-blue-grey personal-link" style="text-decoration: none;" href="https://www.linkedin.com/in/alvarolacalle/" target="_blank">jobs</a> -
                            <a class="text-blue-grey personal-link" style="text-decoration: none;" href="https://www.instagram.com/alvaro.lacalle.ar/" target="_blank">insta</a> -
                            <a class="text-blue-grey personal-link" style="text-decoration: none;" href="https://twitter.com/alvlacalle" target="_blank">tweets</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid light-grey-bg" style="padding-bottom: 4em;">
			<div class="row justify-content-center top-space">
                <div class="col-md-5 col-offset-5">
                    <div class="separator"></div>
                    <h2 class="several-titles">NUESTROS VALORES</h2>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-5 col-lg-3 values-cards v-card-shadow">
                        <div class="top-space">
                            <p  class="text-blue-grey text-left line-space text-interesting">
                                Los mejores equipos siempre, sacan trabajo. Hacen las cosas poco a poco pero
                                pero las hacen.
                            </p>
                        </div>
                        <span>
                            <h5 style="margin-left: 0.5em;" class="text-cards-title">HACEMOS</h5>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-3 values-cards v-card-shadow">
                        <div class="top-space" >
                            <p class="text-blue-grey text-left text-left line-space text-interesting">
                                Huimos de palabras como Fintech, Big Data,etc. Creemos que ideas que no han sido exploradas son las mejores, no hay 
                                nadie trabajando en ellas, y la oportunidad no se ha explorado todavia.
                            </p>
                        </div>
                        <span>
                            <h5 style="margin-left: 0.5em;" class="text-cards-title">VAMOS CONTRACORRIENTE</h5>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-3 values-cards v-card-shadow">
                        <div class="top-space">
                            <p  class="text-blue-grey text-left line-space text-interesting">
                                Trabajamos con intensidad y entusiasmo, es la única forma de construir algo que merezca la pena. Trabajamos en el producto, hablamos con nuestros clientes, hacemos ejercicio, comemos y dormimos.
                            </p>
                        </div>
                        <span>
                            <h5 style="margin-left: 0.5em;" class="text-cards-title">INTENSIDAD</h5>
                        </span>
                    </div>
                    <div class=" col-sm-5 col-lg-3 values-cards v-card-shadow">
                        <div class="top-space">
                            <p class="text-blue-grey text-left line-space text-interesting">
                                Nos movemos rápido y estamos obsesionados por la calidad en todo lo que hacemos.
                            </p>
                        </div>
                        <span>
                            <h5 style="margin-left: 0.5em;" class="text-cards-title">DECIDIDOS</h5>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-3 values-cards v-card-shadow">
                        <div class="top-space">
                            <p class="text-blue-grey text-left line-space text-interesting">
                                Tenemos objetivos diaros. Crecer construyendo algo que merezca la pena es lo más importante
                            </p>
                        </div>
                        <span>
                            <h5 style="margin-left: 0.5em;" class="text-cards-title">CRECIMIENTO</h5>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-3 values-cards v-card-shadow">
                        <div class="top-space">
                            <p  class="text-blue-grey text-left line-space text-interesting">
                                Tomamos medidas extraordinarias para mantener contentos a nuestros clientes. La experiencia de ser nuestro usuario debe ser siempre increíble.
                            </p>
                        </div>
                        <span>
                            <h5 style="margin-left: 0.5em;" class="text-cards-title">AMAMOS A NUESTROS CLIENTES</h5>
                        </span>
                    </div>
                </div>
            </div> <!-- End of container cards -->
        </div> <!-- End of container-fluid -->
        
		<div class="dirty-bg" id="myDiv" style="padding-bottom: 4em;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-5 col-offset-5">
                        <div class="green-separator"></div>
                        <h2 style="color: #00c853;" class="only-title" >Únete al equipo</h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        
                    </div>
                    <div class="col-md col-sm-9 mx-sm-auto">
                        <div class="container-team-img" style="height: 320px;">
                            <%= image_tag  "negocio-bg.png", class: 'values-card t-card-shadow', style:'width: 95%; height:85%;' %>
                            <h2 class="team-img-text w-75" style="font-weight: bold">Desarrollo de Negocio <br> Madrid, España</h2>
                            <%= link_to new_business_modal_path, remote: true do %>
                            <button class="btn btn-j-blue team-img-btn btn-interesting" style="border-radius: 0;">ME INTERESA</button>
                            <%end%>
                        </div>
                    </div>
                    <div class="col-md col-sm-9 mx-sm-auto ">
                        <div class="container-team-img" style="height: 320px;">
                            <%= image_tag  "software-bg.png", class: 'values-card t-card-shadow', style:'width: 95%; height:85%;' %>
                            <h1 class="team-img-text w-75" style="font-weight: bold">Desarrollo de Software <br> Madrid, España</h1>
                             <%= link_to new_software_modal_path, remote: true do %>
                            <button class="btn btn-j-blue team-img-btn btn-interesting" style="border-radius: 0;">ME INTERESA</button>
                            <%end%>
                        </div>
                    </div>
                    <div class="col-md-1">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="light-grey-bg" style="padding-bottom: 6em;">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-5 col-offset-5">
                        <div class="separator"></div>
                        <h2 class="several-titles">OBJETIVOS</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg col-md-1">
                        
                    </div>
                    <div class="col-sm col-9 white-bg obj-card-space">
                        <%= image_tag  "clients-bg-edit.png", class:'w-100 h-50'%>
                        <span>
                            <h3 class="text-left text-warning style-number">1</h3>
                        </span>
                        <p class="text-left left-space line-space  text-interesting">
                            Conseguir 100 clientes que amen nuestros productos antes de 31/09/2018
                        </p>
                    </div>
                    <div class="col-sm col-9 white-bg obj-card-space">
                            <%= image_tag  "bridge-bg.jpg",  class:"obj-mini-img w-100 h-50", style:"background-color: #2196F3;" %>
                        <span>
                            <h3 class="text-left text-info style-number">2</h3>
                        </span>
                        <p class="text-left left-space line-space  text-interesting">
                        Una vez logrado el encaje con el mercado, mudarnos a Estados Unidos.
                        </p>
                    </div>
                    <div class="col-sm col-9 white-bg obj-card-space">
                            <%= image_tag  "stadistic.png",  class:"obj-mini-img w-100 h-50", style:"background-color: #F44336;" %>
                        <span>
                            <h3 class="text-left text-danger style-number">3</h3>
                        </span>
                        <p class="text-left left-space line-space  text-interesting">
                        Hacer crecer la compañia
                        </p>
                    </div>
                    <div class="col-lg col-md-1">
                        
                    </div>
                </div>
            </div>
        </div>
	</div> <!-- end of job-introduction -->
    <!-- For show a toast message -->
    <div id="snackbar">Correo enviado correctamente</div>

	<script type="text/javascript">
        $("#button-interest").click(function() {
            $('html, body').animate({
                scrollTop: $("#myDiv").offset().top
            }, 1500);
        });
    </script>
</main>
<div class="container-fluid">
    <%= render 'partials/new_footer'%>
</div> 
