<div class="bar-exit-editor">
     <%= link_to your_solutions_company_path(1), class:'exit-link' do %>
        <p> <i class="fa fa-arrow-left"></i> Exit Editor</p>
    <%end%>
</div>


    <header class="header-editor-profile">
        
    <div class="container-edit-profile">
        <ul>
            <%= link_to edit_company_path(1) do %>
                <li>About</li>
            <%end%>
            <%= link_to preview_new_solution_path(1) do %>
                <li>Solutions</li>
            <%end%>
            <%= link_to happyclients_solution_path(1) do %>
                <li>Happy Clients</li>
            <%end%>
            <%= link_to thanks_message_company_path(1) do %>
                <li>Thanks</li>
            <%end%>
        </ul>
    </div>

    <div class="container-launch-page">
        <%= link_to your_solutions_company_path(1) do %>
            <button class="btn btn-default hvr-glow" style="padding: 15px 15px;">LANZA TU PÁGINA</button>
        <%end%>
    </div>


<div class="container-page-title">
    <h2>Gracias</h2>
    <p>Dale las gracias a tus clientes por mostrarte su apoyo</p>
</div>
    </header>

<div class="container-body-form container">

    <div class="row">
        
        <div class="col-lg-8 col-sm-12 col-form-cont">
                    

        <div class = "container-window">
<div class="container">
            <div class="container-thanks">
                <h6 class="text-primary">¿Cómo quieres dar las gracias a tus clientes?</h6>
                <h6>Escribe un mensajeque verás una vez muestren su apoyo a tus soluciones. <br> No te preocupes, puedes volver a hacerlo en cualquier momento.</h6>

<div class="container-input form-group">
<textarea class="form-control" rows="5" id="comment" style="resize: none;"></textarea>
            </div>

</div>


            </div>
            
        </div>

      
        </div>


        
        <div class="col-lg-4 col-sm-12 col-form-progress">
   <div class="container-window processpart">
                <div class="left-space">
                    <div class="circle-p"></div>
                </div>
                <div class="process-list">
                    <p>Tu checklist antes de lanzar:</p>

                    <ul>
                        <li class="true" ><i class="fa fa-check"></i> Nombre comercial</li>
                        <li class="true" ><i class="fa fa-check"></i>Especialización</li>
                        <li class="true" ><i class="fa fa-check"></i>Imagen de portada</li>
                        <li class="true" ><i class="fa fa-check"></i>Tus soluciones</li>
                        <li class="true" ><i class="fa fa-check"></i>Tus resultados</li>
                    </ul>
                </div>
            </div>


        </div>
       
    </div>
</div>    