<%= render 'partials/navbar_especial' %>
<div class="editarperfil">
    <div class="container-editar-p">
        <p>Edita tu perfil. Una vez esté lista publicala.</p>
        <div class="container-buttons-editar-p"> 
        <%= link_to edit_company_path(@company.id) do %>
            <button id="btn-reg-d" class="btn btn-default-disable hvr-glow">EDITA TU PERFIL</button>
        <%end%>
        <button class="btn btn-default hvr-glow" style="cursor: none; pointer-events: none">PUBLICA</button>
        </div>
    </div>
</div>

    <!-- header-->

    <header class="container-fluid header-sol header-solnone">

        <div class="space-header-left"></div>
        <div class="content-header ">
            <div class="logo-img">
                <div class="circleyoursolutionnew blur"></div>
                <h3 class="titlelogo">Counsel on Call</h3>
            </div>
            <div class="menu-header">

                <div id='cssmenu'>

                    <ul>
                        <li class='active'><a href='#'><span>How We Help Clients</span></a></li>
                        <li><a href='#'><span>Happy Clientes</span></a></li>


                    </ul>
                    <button class="btn button-contactus hvr-glow">Contact</button>
                </div>

                <div class="container-conts-header">
                    <div class="box-cont">
                        <div class="cont-results0">
                            <h3>0</h3>
                            <p>Soluciones</p>
                        </div>
                    </div>

                    <div class="box-cont">
                        <div class="cont-results0">
                            <h3>0</h3>
                            <p>Soluciones</p>
                        </div>
                    </div>

                    <div class="box-cont">
                        <div class="cont-results0">
                            <h3>0</h3>
                            <p>Soluciones</p>
                        </div>
                    </div>

                    <div class="box-cont">
                        <div class="cont-results0">
                            <h3>0</h3>
                            <p>Soluciones</p>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </header>
    <!-- barra blanca-->
    <div class="behind">

        <!-- contenido de los contadores de cada item-->
        <div class="container-conts">
            <div class="box-cont">
                <div class="cont-results0">
                    <h3>0</h3>
                    <p>Soluciones</p>
                </div>
            </div>

            <div class="box-cont">
                <div class="cont-results0">
                    <h3>0</h3>
                    <p>Soluciones</p>
                </div>
            </div>

            <div class="box-cont">
                <div class="cont-results0">
                    <h3>0</h3>
                    <p>Soluciones</p>
                </div>
            </div>

            <div class="box-cont">
                <div class="cont-results0">
                    <h3>0</h3>
                    <p>Soluciones</p>
                </div>
            </div>

        </div>
    </div>
    <!-- body-->
    <div class="navbar-container">

    </div>
<div class="container-body container-fluid">
    <div class="container body-cont">
        <div class="row rowb">
            <div class="col-lg-3 col-sm-12 colb ">
                <div style="border-top: none;" class="menu-left-title">
                    <h4 >Helps Clients</h4>
                </div>
                <div class="menu-left">
                    <p class="blur" >Law related complex issues</p>
                    <div class="content-social-left">
                        <ul class="social-left blur">
                            <a href=""> <li> <i class="fa fa-facebook"></i></li></a>
                            <a href=""> <li><i class="fa fa-twitter-square"></i></li></a>
                            <a href=""> <li><i class="fa fa-youtube"></i></li></a>
                            <a href=""> <li><i class="fa fa-linkedin"></i></li></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 colb">
                <div class="firstClient">
                    <h4 class="messagefirst ">
                        SOLUCIONES DE COUNSEL ON CALL
                    </h4>
                    <div class="container-fisrt">
                        <p  class="" >¡Todavía no has añadido ninguna solución!</p>
                        <button class="btn btn-anade-sol hvr-glow opacity btn-full-width"> <i class="fa fa-edit blur"></i> <p style="display: inline;"class="blur" >AÑADE TU PRIMERA SOLUCIÓN </p></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 colb mt-md-4">
                <div class="menu-right">
                    <div class="m-right">
                        <h3 class="m-title ">Solutiones por categorías</h3>
                        <div class="m-content cont-sol-left">
                            <ul  class="blur" >
                                <li>Leyes Y Impuestos</li>
                                <li>Leyes Y Impuestos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu-right">
                    <div class="m-right">
                        <h3 class="m-title">Resultados</h3>
                        <div class="m-content cont-sol-result">
                            <!-- resultados-->
                            <ul class="blur" >
                    <!-- Cada item de resultados-->
                                <div class="item-result-each">
                                    <li>One project document controller</li>
                                    <div class="hc-res">
                                        <p> 
                                            <i class="material-icons is">sentiment_very_satisfied</i> 
                                            <span>2 Happy Clients </span> con este resultado
                                        </p>
                                    </div>
                                </div>
                                <!-- Cada item de resultados-->
                                <div class="item-result-each">
                                    <li>One project document controller</li>
                                    <div class="hc-res">
                                        <p> 
                                            <i class="material-icons is">sentiment_very_satisfied</i>
                                            <span>4 Happy Clients </span> con este resultado
                                        </p>
                                    </div>
                                </div>
                                <!-- Cada item de resultados-->
                                <div class="item-result-each-num">
                                    <li>+12</li>
                                </div> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="menu-right">
                    <div class="m-right">
                        <h3 class="m-title">Happy Clients</h3>
                        <div class="m-content blur2">
                            <div class="client">
                                <div class="photoc">
                                    <%= image_tag "head_1.png", class: 'user' %>
                                </div>
                                <div class="cont-cli">
                                    <h4>Nombre</h4>
                                    <p>Lorem ipsum dolor sit.</p>
                                    <p>amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="client">
                                <div class="photoc">
                                    
                                    <%= image_tag "head_2.png", class: 'user' %>

                                </div>
                                <div class="cont-cli">
                                    <h4>Nombre</h4>
                                    <p>Lorem ipsum dolor sit.</p>
                                    <p>amet consectetur adipisicing elit.</p>
                                </div>
                            </div>




                            <div class="client">
                                <div class="photoc">
                                    
                                    <%= image_tag "head_3.png", class: 'user' %>

                                </div>
                                <div class="cont-cli">
                                    <h4>Nombre</h4>
                                    <p>Lorem ipsum dolor sit.</p>
                                    <p>amet consectetur adipisicing elit.</p>
                                </div>
                            </div>



                            <div class="circle-container">
                               <div class="circle-cont-linkin">
                                   <p>+12</p> 
                               </div>
                            </div>

                        </div>

                         <div class="footer-clie blur">
                                            <div class="linkedin">
                                                <%= image_tag ("linked-in-logo.png") %>
                                                <p>Information</p>
                                            </div>
                                        </div>

                    </div>
                </div>

            </div>



        </div>
    </div>



    <div class="firstClient finalClient">

        <h4 class="messagefirst  ">
            SOLUCIONES DE COUNSEL ON CALL
        </h4>

        <div class="container-fisrt">
            <p  class="" >¡Todavía no has añadido ninguna solución!</p>

            <button class="btn btn-anade-sol hvr-glow opacity btn-full-width"> <i class="fa fa-edit blur"></i> <p style="display: inline;"class="blur" >AÑADE TU PRIMERA SOLUCIÓN </p></button>
        </div>
    </div>



</div>

                

        </div>


    </div>
</div>
<%= render 'partials/footer_yeahthem' %>